
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Arial', sans-serif; 
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

th {
  background-color: deepskyblue;
  color: white;
  text-align: left;
  padding: 12px 15px;
  border-bottom: 2px solid #f0f0f0;
}

tr:nth-child(odd) {
  background-color: #f9f9f9; 
}
.container h1 {
  font-size: 24px;
  text-align: left;
  color: #333;
  margin-bottom:0px;
}
.header-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;
  background-color: #f9f9f9; 
}

.details-container {
  margin-top: 20px;
}

td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd; 
}


tr:hover {
  background-color: #e1f5fe; 
  cursor: pointer;
}


tr:hover {
  box-shadow: 0 8px 6px -6px #ccc;
}


@media (max-width: 768px) {
  th, td {
    padding: 10px;
  }
}
