

.container {
  width: 100%;
  max-width: 500px; 
  margin: 10px 0px; 
  padding: 0px 30px;
  background-color: #ffffff; 
}


  .container h1 {
    font-size: 24px;
    text-align: left;
    color: #333;
  }


  .container form > div {
    margin-bottom: 20px;
  }

label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd; 
  border-radius: 5px;
  transition: border-color 0.3s;
}

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus {
    border-color: deepskyblue;
  }


button {
  width: 100%;
  padding: 12px;
  background-color: deepskyblue;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

  button:hover {
    background-color: dodgerblue; 
  }


@media (max-width: 600px) {
  .container {
    padding: 20px;
    border-top: 3px solid deepskyblue;
  }

    .container h1 {
      font-size: 20px;
    }

  button {
    padding: 10px;
  }
}
